<% if architectures? -%>
<%= pad %>{% if <%= render_arches.join(" || ") %> %}
<% end -%>
<%= pad %>@[Extern]
<% methods = resolve_methods %>
<%= pad %>record <%= @name %>Vtable<% if methods.any? %>,<% end %>
<% methods.each do |x| -%>
<% if x.architectures? -%>
<%= pad(4) %>{% if <%= x.render_arches %> %}
<%= pad(4) %><%= x.render_proc(@name) %><% unless x == @resolved_methods.last %>,<% end %>
<%= pad(4) %>{% end %}
<% else -%>
<%= pad(4) %><%= x.render_proc(@name) %><% unless x == @resolved_methods.last %>,<% end %>
<% end -%>
<% end -%>


<%= pad %>@[Extern]
<% if @guid -%>
<% end -%>
<%= pad %>record <%= @name %>, lpVtbl : <%= @name %>Vtable* do
<% if my_guid = get_guid -%>
<%= pad(4) %>GUID = LibC::GUID.new(<%= my_guid.to_hex_params %>)
<% end -%>
<% methods.each do |x| -%>
<% if x.architectures? -%>
<%= pad(4) %>{% if <%= x.render_arches %> %}
<%= x.render(@name) %>
<%= pad(4) %>{% end %}
<% else -%>
<%= x.render(@name) %>
<% end -%>
<% end %>
<%= pad %>end
<% if architectures? -%>
<%= pad %>\{% end %}
<% end -%>